$c_grey1:rgb(240,240,240);
$c_grey2:/*lighten($c_grey1, 20%)*/#F5F5F5;
$c_br_grey1:rgb(180,180,180);
$c_br_grey2:lighten($c_br_grey1, 15%);
$c_br_grey3:rgb(215,215,215);
$c_br_grey4:rgb(215,215,215);
$c_blue1:rgb(235,251,255); 
$c_blue2:#85DCFF;
$c_text_grey1:rgb(50,50,50);
